<%= form_tag('/auth/zoho', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Zoho</button>
<% end %>

<%= form_tag('/auth/google_oauth2', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Google</button>
<% end %>

<%= form_tag('/auth/microsoft_office365', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Microsoft Office 365</button>
<% end %>

<%= form_tag('/auth/developer', method: 'post', data: {turbo: false}) do %>
  <button type='submit'>Login with Developer</button>
<% end %>