<div class="row g-0">
  <div class="col-md-4">
    <h1>Contact</h1>
  </div>

  <div class="col-md-8" style="position: relative;">
    <%= link_to(
        'Open in CRM',
        @contact.link_address,
        target: "_blank",
        class: "btn btn-success",
        style: "margin-bottom: 0.5rem; position: absolute; bottom: 0; right: 0;"
      )
    %>
  </div>
</div>

<table>
  <tr>
    <th>Full Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td><%= @contact.full_name %></td>
    <td><%= @contact.email %></td>
    </td>
  </tr>
</table>
