<div class="container-fluid">
  <h1>Products</h1>

  <hr/>

  <div class="row">

    <div class="col-sm-7">
      <%= turbo_frame_tag "products" do %>
        <%= render @products %>
      <% end %>
    </div>

    <div class="col-sm-5">
      <%= turbo_frame_tag "product_button" do %>
        <%= render partial: "new_product_button" %>
      <% end %>
    </div>
  </div>
</div>