<h1>Product</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ul>

<%= button_to "New Product", new_product_path, class: "btn btn-primary", method: :get  %>